@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Merriweather+Sans:wght@400&family=Ruslan+Display&display=swap");

body {
  background-image: url(./Thumbnail.svg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

.content {
  text-align: center;
}

.content-2 {
  text-align: center;
  margin: 2.5rem;
}

.input {
  text-align: left;
  outline: none;
  padding: 1.5rem;
  width: 25%;
  border-radius: 12px;
  border: none;
  font-size: 1.5rem;
}

.submit-button {
  padding: 1.5rem;
  font-family: "Ruslan Display", cursive;
  margin-left: 2rem;
  background-color: #4a3aff;
  color: whitesmoke;
  border: none;
  border-radius: 12px;
}
